{% extends 'base.html.twig' %}

{% block body %}
    <p>
        The timezone {{ data.timezone }} has {{ data.utcOffset > 0 ? '+' ~ data.utcOffset : data.utcOffset }} minutes offset to UTC.<br />
        February in this year has {{ data.leap ? 29 : 28 }} days.<br />
        Specified month ({{ data.monthName }}) has {{ data.daysNumber }} days.
    </p>
{% endblock %}
